html, body {
    font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: calc(12px + 0.25vw);
}

a {
    text-decoration: none;
    color: black;
}

h2, figure {
    margin: 0;
    margin-bottom: 5px;
}

figure > img {
    width: 100%;
}

figcaption {
    width: 100%;
    text-align: center;
}

/* @media screen and (orientation: portrait) {
    html, body {
        font-size: 1.2rem;
    }
} */

#leftSide {
    position: absolute;
    width: 15px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

article {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, .26)
}

.container {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 15px 0 0 15px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
@media screen and (orientation: portrait) {
    .container {
        flex-wrap: nowrap;
        flex-direction: column;
    }
} 

#article-1 {
    width: 100vw;
    background-color: #424D99;
    color: white;
}

#article-2 {
    width: 95vw;
    background-color: #959CCC;
}

#article-3 {
    width: 90vw;
    background-color: #D4F0FF;
}

.item-1 {
    height: 100%;
    width: 50%;
    position: relative;
}

@media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    .item-1 {
        height: 50%;
        width: 100%;
        position: relative;
    }
}

#profileArea {
    height: 60%;
    width: 80%;
    vertical-align: top;
}

#profileArea > p {
    font-family: 'Impact', 'arial black';
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

@media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    #profileArea > p {
        font-size: 3rem;
    }
}

#links {
    text-align: center;
}

.hole {
    display: inline-block;
    background-color: #959CCC;
    padding: 5px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, .26) inset;
    top: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
}

#article-2 .hole {
    background-color: #424D99;
    color: white;
    float: right;
    /* position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    left: auto; */
}

.back {
    display: inline-block;
    background-color: #959CCC;
    padding: 5px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, .26);
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    position: absolute;
}

#article-2 .back {
    background-color: #D4F0FF;
}

#imageArea {
    height: 60%;
    width: 80%;
    background-color: white;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, .26) */
}

#article-2, #article-1 {
    overflow: hidden;
}

#article-2 > .container, #article-1 > .container {
    overflow-y: scroll;
    width: calc(100% + 18px);
}

@media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    #article-2 > .container, #article-1 > .container {
        overflow-y: scroll;
        width: calc(100% + 8px);
    }
}

.item-2 {
    width: 270px;
    max-width: calc(90% - 8px);
    /* min-height: 150px; */
    border: solid #424D99;
    /* background-color: white; */
    margin: 5px 5px 5px 10px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
}

.productIcon {
    height: 2em;
    vertical-align: middle;
}

.productTitle {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    font-weight: bold;
}

.uc {
    align-content: flex-start;
}

#article-1 > .container {
    flex-direction: column;
}

.item-3 {
    width: 30%;
    margin: 5px 5px 5px 10px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    word-wrap: break-word;
}

.item-3 a {
    text-decoration: underline solid black;
}
.item-3 a:link {
    color: #0000ff;
    text-decoration-color: #0000ff;
}
.item-3 a:visited {
    color: #000080;
    text-decoration-color: #000080;
}
.item-3 a:hover {
    color: #ff0000;
    text-decoration-color: #ff0000;
}
@media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    .item-3 {
        width: 90%;
    }
}