<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>takasa5</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css"> -->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link rel="icon" sizes="any" href="favicon.svg" type="image/svg+xml">
    <script src="works.js"></script>
</head>
<body>
    <section id="v-dom" class="page" style="background-color: white;">
        <img class="bgimage" src="img/aqa.JPG">
        <div class="container page">
        <div class="level is-mobile">
            <div class="level-item" v-if="!thinWidth || (thinWidth && !show)">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                <img src="img/triangle5.svg">
                                </figure>
                            </div>
                            <div class="media-content myname">
                            <div class="content">
                                <p class="title is-4">@takasa5</p>
                                <p class="subtitle is-6">HN: 高砂(たかさご)</p>
                            </div>
                            </div>
                        </div>
                        <div class="profile">
                            Keio Univ. M1<br>
                            <b>Studying:</b> Intention inference<br>
                            <b>Love:</b> Music, Sauna, Water, Sunset<br>
                        </div>
                        <button class="button is-fullwidth" @click="show = !show">
                            <div v-show="!show">Show works</div>
                            <div v-show="show">Hide works</div>
                        </button>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="https://twitter.com/takasa_five" target="_blank">
                            <i class="fab fa-twitter fa-lg" style="color:#55acee"></i>
                        </a>
                        <a class="card-footer-item" href="https://github.com/takasa5" target="_blank">
                            <i class="fab fa-github fa-lg" style="color:#24292e"></i>
                        </a>
                        <a class="card-footer-item" href="https://takasa-5.blogspot.com/" target="_blank">
                            <i class="fab fa-blogger fa-lg" style="color: #fe6602"></i>
                        </a>
                    </footer>
                </div>
            </div>
            <transition name="fade" mode="out-in">
            <div class="level-item" v-if="show">
                <div class="card">
                    <div class="card-content">
                        <ul>
                        <transition name="fade" mode="out-in">
                        <li v-for="(work, index) in works" :key="work.title" v-if="currentPage == index + 1">
                            <div class="media">
                                <div v-if="work.icon" class="media-left">
                                    <figure class="image is-64x64">
                                    <img :src="work.icon">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p class="title is-4">{{ work.title }}</p>
                                        <p class="subtitle is-6">{{ work["abstract-en"] }}</p>
                                    </div>
                                </div>
                                <div class="media-right" v-if="thinWidth">
                                    <button class="delete" @click="show = !show"></button>
                                </div>
                            </div>
                            <img :src="work.screenshot" style="width: 100%; margin: 6px 0;">
                            <div class="tags">
                                <span v-for="lang in work.languages" class="tag is-info is-rounded">{{ lang }}</span>
                            </div>
                        </li>
                        </transition>
                        </ul>
                    </div>
                    <footer class="card-footer pagination is-rounded is-centered is-small" role="navigation" aria-label="pagination">
                        <ul class="pagination-list card-footer-item">
                            <li v-for="(work, index) in works">
                                <a class="pagination-link"
                                    :class="{ 'is-current': currentPage == index + 1 }"
                                    @click="currentPage = index + 1"
                                    v-show="index == 0 || currentPage == index || currentPage == index + 1 || currentPage == index + 2 || index == works.length - 1">
                                    {{ index + 1 }}
                                </a>
                                <span class="pagination-ellipsis"
                                      v-show="(index == 0 && currentPage > 3) || (index == works.length - 2 && works.length - 2 > currentPage)">
                                      &hellip;
                                </span>
                            </li>
                        </ul>
                    </footer>
                </div>
            </div>
            </transition>
            </div>
        </div>
        <footer class="my-footer">
            <p>
            2019/04, <a href="https://bulma.io/" target="_blank"><img src="img/made-with-bulma--black.png" class="bulma"></a>
            </p>
        </footer>
    </section>
    <script src="main.js"></script>
</body>
</html>