body, html {
    padding:0; /*　追加*/
    margin:0; /*　追加*/
    height: 100%;
}

.page {
    position: relative;
    height: 100vh;
    width: 100%;
}

.bgimage {
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
    object-fit:cover
}

.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}


.is-vertical-center {
    display: flex;
    align-items: center;
  }


.card {
    min-width: 310px;
    width: 25vw;
}

.level {
    height: 100vh;
}


.my-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 1.5em;
    text-align: center;
}

.bulma {
    height: 1.5em;
    vertical-align: middle;
}

.profile {
    margin-bottom: 10px;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0
}

@media screen and (orientation: portrait) {
    .fade-leave-to, .fade-leave-active {
        transition: none;
    }
}