html, body {
    font-family: "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (orientation: portrait) {
    /* 横向きの場合のスタイル */
    html, body {
        font-size: 0.9rem;
    }
}

.centering {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

article {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26)
}

.container {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 15px 0 0 15px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
}
@media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    .container {
        flex-direction: column;
    }
}
#article-1 {
    width: 100vw;
    background-color: #424D99;
}

#article-2 {
    width: 90vw;
    background-color: #959CCC;
}

#article-3 {
    width: 80vw;
    background-color: #D4F0FF;
}

@media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    #article-2 {
        width: 95vw;
        background-color: #959CCC;
    }
    
    #article-3 {
        width: 90vw;
        background-color: #D4F0FF;
    }
}


.item-1 {
    height: 100%;
    width: 50%;
    position: relative;
}

@media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    .item-1 {
        height: 50%;
        width: 100%;
        position: relative;
    }
}

#profileArea {
    height: 60%;
    width: 80%;
    vertical-align: top;
}

#profileArea > p {
    font-family: 'Impact', 'arial black';
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

@media screen and (orientation: portrait) {
    /* 縦向きの場合のスタイル */
    #profileArea > p {
        font-size: 3rem;
    }
}

#links {
    text-align: center;
}

.hole {
    display: inline-block;
    background-color: #959CCC;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26) inset;
    top: 0;
    left: 0;
    margin: auto;
    cursor: pointer;
}

#imageArea {
    height: 60%;
    width: 80%;
    background-color: white;
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, .26) */
}

.item-2 {
    width: 300px;
    max-width: 90%;
    height: 150px;
    background-color: white;
}